body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:hover {
  color: antiquewhite;
}

a {
  text-decoration: none;
  color: antiquewhite;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.shadowed-text {
  text-shadow: 5px 5px 5px black;
}

@font-face {
  font-family: "Disturbed";
  src: local("Punktype"), url("./fonts/punktype.ttf");
}

@font-face {
  font-family: "ThroughTheNight";
  src: local("ThroughTheNight"), url("./fonts/through-the-night.ttf");
}

@font-face {
  font-family: "DefaultTypewriter";
  src: local("DefaultTypewriter"), url("./fonts/veteran-typewriter.ttf");
}

.MuiSpeedDialAction-fab {
  background-color: red;
}

/* This style is needed by the react markdown. Apply this class to the react markdown to avoid p margin */
div.no-padding-paragraph p {
  margin: 0;
}

@keyframes opacityAppear {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
    opacity: 0;
  }
  100% {
    display: block;
    opacity: 1;
  }
}
