name: Docker Image CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - name: Check Out Repo
      uses: actions/checkout@v2

    - name: Install DigitalOcean Controller
      uses: digitalocean/action-doctl@v2
      with:
        token: ${{ secrets.DO_REPO_KEY }}
        
    - name: Set up Docker Builder
      uses: docker/setup-buildx-action@v1
    
    - name: Authenticate with DigitalOcean Container Registry
      run: doctl registry login --expiry-seconds 600
    
    # - name: Build the Docker image
    #   run: sudo docker build -t vtm-baires:1.0.5 --build-arg db_url=ecto://postgres:${{ secrets.POSTGRES_DB_PWD }}@postgres-instance/vtm --build-arg secret_key=$(mix phx.gen.secret) --build-arg mail_smtps_server=smtps.aruba.it --build-arg mail_port=465 --build-arg mail_user=postmaster@vtmbaires.eu --build-arg mail_pass='${{ secrets.MAIL_PWD }}' --network=host .
              
    - name: Authenticate with DigitalOcean Container Registry
      run: doctl registry login --expiry-seconds 600
      
    - name: Build and Push to DigitalOcean Container Registry
      uses: docker/build-push-action@v2
      with:
        push: true
        tags: registry.digitalocean.com/elixir-apps-repo:vtm-baires:latest
        build-args: |
          db_url=ecto://postgres:${{ secrets.POSTGRES_DB_PWD }}@postgres-instance/vtm
          secret_key=$(mix phx.gen.secret)
          mail_smtps_server=smtps.aruba.it
          mail_port=465
          mail_user=postmaster@vtmbaires.eu
          mail_pass='${{ secrets.MAIL_PWD }}'
          

    - name: Logout from DigitalOcean Container Registry
      run: doctl registry logout
